<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>证书部署</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/authConfig.js}"></script>
</head>
<body>
<blockquote class="layui-elem-quote layui-text">
    自动部署定时器每5分钟执行一次，如果证书有效期小于等于10天，并且关联的证书私钥已变更，就会自动部署证书。
</blockquote>
<table class="layui-hide" id="view-table"></table>
<!--表单-->
<div id="detail-view" style="padding: 30px;display: none;">
    <form id="detail-form" class="layui-form" lay-filter="detail-form-filter">
        <!--填写项-->
        <div id="edit-group">
            <div class="layui-form-item" style="display: none">
                <label class="layui-form-label">id</label>
                <div class="layui-input-block">
                    <input type="text" name="id" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off"
                           class="layui-input">
                    <div class="layui-form-mid layui-text-em">名称随意填写</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">域名</label>
                <div class="layui-input-block">
                    <input type="text" name="domain" lay-verify="required" placeholder="请输入" autocomplete="off"
                           class="layui-input">
                    <div class="layui-form-mid layui-text-em">
                        需要部署的域名，不要带http://或https://前缀，例：test.example.com
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">部署类型</label>
                <div class="layui-input-block">
                    <select name="type" lay-verify="required" lay-filter="typeFilter">
                        <option value="">无</option>
                    </select>
                    <div class="layui-form-mid layui-text-em">
                        根据域名所在位置，选择部署类型：
                        <br/>
                        阿里云-对象存储：阿里云OSS的域名管理中绑定的域名
                        <br/>
                        阿里云-CDN：在阿里云CDN管理的域名
                        <br/>
                        七牛云-CDN：七牛云CDN管理的域名
                        <br/>
                        远程服务器SSH：通过SSH访问远程服务器，将证书部署到远程服务器的指定目录
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">服务配置</label>
                <div class="layui-input-block">
                    <select name="authConfigId" lay-verify="required">
                        <option value="">无</option>
                    </select>
                </div>
            </div>
            <!--阿里云oss相关参数-->
            <div class="layui-form-item ali-oss-group">
                <label class="layui-form-label">阿里云OSS Bucket名称</label>
                <div class="layui-input-block">
                    <input type="text" name="aliOssBucket" lay-verify="required" placeholder="请输入"
                           autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item ali-oss-group">
                <label class="layui-form-label">阿里云OSS Endpoint</label>
                <div class="layui-input-block">
                    <input type="text" name="aliOssEndpoint" lay-verify="required" placeholder="请输入"
                           autocomplete="off"
                           class="layui-input">
                    <div class="layui-form-mid layui-text-em">
                        阿里云控制台获取，比如北京是：https://oss-cn-beijing.aliyuncs.com
                    </div>
                </div>
            </div>
            <!--阿里云cdn相关参数-->
            <div class="layui-form-item ali-cdn-group">
                <label class="layui-form-label">阿里云CDN Endpoint</label>
                <div class="layui-input-block">
                    <input type="text" name="aliCdnEndpoint" lay-verify="required" placeholder="请输入"
                           autocomplete="off"
                           class="layui-input">
                    <div class="layui-form-mid layui-text-em">
                        国内一般填写 cdn.aliyuncs.com 参考官方文档 https://api.aliyun.com/product/Cdn
                    </div>
                </div>
            </div>
            <!--远程服务器SSH相关参数-->
            <div class="layui-form-item layui-form-text server-ssh-group">
                <label class="layui-form-label">服务器命令</label>
                <div class="layui-input-block">
                    <textarea name="serverSshExec" placeholder="请填写" class="layui-textarea"
                              lay-verify="required"></textarea>
                    <div class="layui-form-mid layui-text-em">
                        服务器执行的命令，比如更新证书文件、nginx重载等命令。
                        <br/>
                        命令支持变量：${certPublicKey} 代表证书公钥，${certPrivateKey} 代表证书私钥。
                        <br/>
                        如果命令太长换行需要结尾增加反斜杠“\”，确保是一条命令，例如：
                        <br/>
                        mkdir -p /home/nginx &&\
                        <br/>
                        echo "${certPublicKey}" > /home/nginx/cert.pem &&\
                        <br/>
                        echo "${certPrivateKey}" > /home/nginx/cert.key &&\
                        <br/>
                        nginx -s reload
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">证书</label>
                <div class="layui-input-block">
                    <select name="certId" lay-verify="required">
                        <option value="">无</option>
                    </select>
                    <div class="layui-form-mid layui-text-em">选择需要部署的证书</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否自动部署</label>
                <div class="layui-input-block">
                    <input type="radio" name="isAuto" value="true" title="是">
                    <input type="radio" name="isAuto" value="false" title="否" checked>
                </div>
                <div class="layui-form-mid layui-text-em">
                    开启后，监测到证书秘钥变更后，会自动部署证书。
                </div>
            </div>
        </div>
        <!--只读项-->
        <div id="readonly-group">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">证书公钥</label>
                <div class="layui-input-block">
                    <textarea name="certPublicKey" placeholder="自动生成" class="layui-textarea" disabled></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">证书私钥</label>
                <div class="layui-input-block">
                    <textarea name="certPrivateKey" placeholder="自动生成" class="layui-textarea" disabled></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">证书有效期开始时间</label>
                <div class="layui-input-block">
                    <input type="text" name="certValidityDateStart" placeholder="自动生成"
                           autocomplete="off"
                           class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">证书有效期结束时间</label>
                <div class="layui-input-block">
                    <input type="text" name="certValidityDateEnd" placeholder="自动生成"
                           autocomplete="off"
                           class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">证书部署状态</label>
                <div class="layui-input-block">
                    <select name="status" disabled>
                        <option value="">无</option>
                        <option value="UNDERWAY">部署中</option>
                        <option value="DONE">成功</option>
                        <option value="FAIL">失败</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">最近执行时间</label>
                <div class="layui-input-block">
                    <input type="text" name="lastExecuteTime" placeholder="自动生成"
                           autocomplete="off"
                           class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">执行日志</label>
                <div class="layui-input-block">
                    <textarea name="log" placeholder="自动生成" class="layui-textarea" disabled></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
<script type="text/html" id="top-tool">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-sm" lay-event="add">新增</a>
    </div>
</script>
<script type="text/html" id="row-tool">
    <div class="layui-clear-space">
        <a class="layui-btn layui-btn-sm" lay-event="view">查看</a>
        <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-sm" lay-event="deleted">删除</a>
        <br/>
        <a class="layui-btn layui-btn-sm" lay-event="nowDeploy" style="margin-top: 10px;">立即部署证书</a>
    </div>
</script>
<script>
    var $ = layui.$;
    var form = layui.form;

    //动态获取类型
    let typeKeyMap = {};
    $.ajax({
        url: '/dict/enums/deployTypeEnum', // 替换为你的API端点
        type: 'GET',
        async: false, //请求完再向下执行
        success: function (res) {
            if (res.success) {
                //添加类型下拉
                res.data.forEach(function (item) {
                    $("select[name='type']").append("<option value='" + item.key + "'>" + item.info + "</option>")
                    typeKeyMap[item.key] = item.info;
                });
            } else {
                layer.msg("类型获取失败");
            }
        }
    });

    layui.use('table', function () {
        var table = layui.table;

        // 渲染
        table.render({
            elem: '#view-table',
            url: '/certDeploy',
            page: true,
            request: {
                "pageName": "current",
                "limitName": "size"
            },
            response: {
                statusCode: 200 // 重新规定成功的状态码为 200，table 组件默认为 0
            },
            cols: [
                [
                    {field: 'name', title: '名称', minWidth: 200},
                    {field: 'domain', title: '域名', minWidth: 200},
                    {
                        field: 'type', title: '部署类型', minWidth: 150, templet: function (d) {
                            return typeKeyMap[d.type];
                        }
                    },
                    {
                        field: 'certPublicKey', title: '证书公钥', minWidth: 300, templet: function (d) {
                            return d.certPublicKey ? '<div style="white-space: pre-wrap;">' + d.certPublicKey + '</div>' : "-";
                        }
                    },
                    {
                        field: 'certPrivateKey', title: '证书私钥', minWidth: 300, templet: function (d) {
                            return d.certPrivateKey ? '<div style="white-space: pre-wrap;">' + d.certPrivateKey + '</div>' : "-";
                        }
                    },
                    {field: 'certValidityDateStart', title: '证书有效期开始时间', minWidth: 150},
                    {field: 'certValidityDateEnd', title: '证书有效期结束时间', minWidth: 150},
                    {
                        field: 'status', title: '状态', minWidth: 120, templet: function (d) {
                            switch (d.status) {
                                case "UNDERWAY":
                                    return "部署中";
                                case "DONE":
                                    return "已完成";
                                case "FAIL":
                                    return "失败";
                                default:
                                    return "-";
                            }
                        }
                    },
                    {field: 'lastExecuteTime', title: '最近执行时间', minWidth: 150},
                    {
                        field: 'log', title: '执行日志', minWidth: 300, templet: function (d) {
                            return d.log ? '<div style="white-space: pre-wrap;">' + d.log + '</div>' : "-";
                        }
                    },
                    {field: 'nextExecuteTime', title: '下次执行时间', minWidth: 150},
                    {title: '操作', toolbar: "#row-tool", width: 200}
                ]
            ],
            // 将原始数据解析成 table 组件所规定的数据格式
            parseData: function (res) {
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.records //解析数据列表
                };
            },
            height: "full-80",
            lineStyle: "height:100px",
            defaultToolbar: [],
            toolbar: '#top-tool'
        });

        // 工具栏事件
        table.on('toolbar(view-table)', function (obj) {
            let event = obj.event;
            //新增
            if (event === "add") {
                addForm();
            }
        });

        // 触发单元格工具事件
        table.on('tool(view-table)', function (obj) {
            var data = obj.data; // 获得当前行数据
            if (obj.event === 'view') {
                viewForm(data.id);
            } else if (obj.event === 'edit') {
                editForm(data.id);
            } else if (obj.event === 'deleted') {
                deleteForm(data.id);
            } else if (obj.event === 'nowDeploy') {
                nowDeploy(data.id);
            }
        });
    });

    //查看表单
    function viewForm(id) {
        //清空表单
        $("#detail-form")[0].reset();
        //显示只读项
        $("#readonly-group").show();
        setForm(id);
        layer.open({
            title: '查看',
            type: 1,
            area: ['80%', '90%'],
            content: $("#detail-view")
        });
    }

    //新增表单
    function addForm() {
        //清空表单
        $("#detail-form")[0].reset();
        //隐藏只读项
        $("#readonly-group").hide();
        layer.open({
            title: '新增',
            type: 1,
            area: ['80%', '90%'],
            content: $("#detail-view"),
            btn: ['保存', '取消'],
            btn1: function (index, layero, that) {
                submitForm(index);
            }
        });
    }

    //编辑表单
    function editForm(id) {
        //清空表单
        $("#detail-form")[0].reset();
        setForm(id);
        //隐藏只读项
        $("#readonly-group").hide();
        layer.open({
            title: '编辑',
            type: 1,
            area: ['80%', '90%'],
            content: $("#detail-view"),
            btn: ['保存', '取消'],
            btn1: function (index, layero, that) {
                submitForm(index);
            }
        });
    }

    //删除表单
    function deleteForm(id) {
        let deletedIndex = layer.confirm('确认删除吗？', {
            btn: ['确定', '关闭'] //按钮
        }, function () {
            $.ajax({
                url: '/certDeploy', // 替换为你的API端点
                type: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify({ids: [id]}),
                success: function (res) {
                    layer.msg(res.msg);
                    //刷新table
                    layui.table.reload('view-table', {
                        page: {
                            curr: $(".layui-laypage-em").next().html()
                        }
                    });
                    layer.close(deletedIndex);
                }
            });
        });
    }

    //表单赋值
    function setForm(id) {
        $.get("/certDeploy/" + id, function (res) {
            if (res.success && res.code === 200) {
                form.val('detail-form-filter', res.data);
                typeShow(res.data.authConfigId);
            } else {
                layer.msg(res.msg);
            }
        });
    }

    //表单提交
    function submitForm(layerOpenIndex) {
        //表单验证
        var isValid = form.validate('#detail-form');
        // 验证通过
        if (isValid) {
            let formObj = form.val('detail-form-filter');
            //只读项不提交
            $("#readonly-group").find("input,textarea,select").each(function (index, item) {
                delete formObj[$(item).attr("name")];
            });
            $.post({
                url: "/certDeploy",
                contentType: 'application/json',
                data: JSON.stringify(formObj),
                success: function (res) {
                    layer.msg(res.msg);
                    if (res.success && res.code === 200) {
                        //刷新table
                        layui.table.reload('view-table', {
                            page: {
                                curr: $(".layui-laypage-em").next().html()
                            }
                        });
                        if (layerOpenIndex) {
                            layer.close(layerOpenIndex);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    layer.msg("提交失败");
                }
            });
        }
    }

    //立即部署证书
    function nowDeploy(id) {
        let openIndex = layer.confirm('确认立即部署证书吗？', {
            btn: ['确定', '关闭'] //按钮
        }, function () {
            var loadIndex = layer.load(2, {
                title: 'Hello layer',
                shade: 0.6, // 遮罩透明度
            });

            $.post({
                url: "/certDeploy/nowDeploy",
                contentType: 'application/json',
                data: JSON.stringify({id: id}),
                success: function (res) {
                    layer.msg(res.msg);
                    //刷新table
                    layui.table.reload('view-table', {
                        page: {
                            curr: $(".layui-laypage-em").next().html()
                        }
                    });
                    layer.close(loadIndex);
                    layer.close(openIndex);
                }
            });
        });
    }

    //动态获取证书列表
    $.get("/certInfo?current=1&size=100", function (res) {
        if (res.success && res.code === 200) {
            if (res.data.records && res.data.records.length > 0) {
                //添加选项
                let certIdSelect = $("select[name='certId']");
                res.data.records.forEach(function (item) {
                    certIdSelect.append("<option value='" + item.id + "'>" + item.name + "</option>");
                });
            } else {
                layer.msg("无可用证书，请先在证书管理新增证书");
            }
        } else {
            layer.msg("证书列表获取失败");
        }
    });

    //部署类型显隐
    form.on('select(typeFilter)', function () {
        typeShow()
    });

    //部署类型显隐
    function typeShow(selectedValue) {
        //根据type动态获取服务配置
        let value = $("select[name='type']").val();
        $("select[name='authConfigId']").html("<option value=\"\">无</option>")
        if (value) {
            getAuthConfigListByType(value).then(res => {
                if (res && res.length > 0) {
                    //添加选项
                    res.forEach(function (item) {
                        $("select[name='authConfigId']").append("<option value='" + item.id + "'>" + item.name + "</option>")
                    });
                    //选中
                    if (selectedValue) {
                        $("select[name='authConfigId']").val(selectedValue);
                    }
                    form.render('select');
                }
            });
        }

        //显隐
        //阿里云OSS
        let aliOssGroup = $(".ali-oss-group");
        aliOssGroup.hide();
        aliOssGroup.find("input").removeAttr("lay-verify");
        //阿里云CDN
        let aliCdnGroup = $(".ali-cdn-group");
        aliCdnGroup.hide();
        aliCdnGroup.find("input").removeAttr("lay-verify");
        //七牛云CDN
        let qiniuCdnGroup = $(".qiniu-cdn-group");
        qiniuCdnGroup.hide();
        qiniuCdnGroup.find("input").removeAttr("lay-verify");
        //远程服务器SSH
        let serverSshGroup = $(".server-ssh-group");
        serverSshGroup.hide();
        serverSshGroup.find("input,textarea").removeAttr("lay-verify");

        if (value === "ALI_OSS") {
            aliOssGroup.show();
            aliOssGroup.find("input").attr("lay-verify", "required");
        } else if (value === "ALI_CDN") {
            aliCdnGroup.show();
            aliCdnGroup.find("input").attr("lay-verify", "required");
        } else if (value === "QINIU_CDN") {
            qiniuCdnGroup.show();
            qiniuCdnGroup.find("input").attr("lay-verify", "required");
        } else if (value === "SERVER_SSH") {
            serverSshGroup.show();
            serverSshGroup.find("input,textarea").attr("lay-verify", "required");
        }
    }
</script>
