<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyx.ssl.modules.cert.mapper.CertDeployMapper">

    <resultMap id="certDeployResultMap" type="com.hyx.ssl.modules.cert.entity.CertDeployEntity">
        <result column="id" property="id"/>
    </resultMap>
</mapper>
